<ion-content [fullscreen]="true" class="flex relative items-center h-screen justify-center"
  style="--background: linear-gradient(0deg, rgba(121,183,172,1) 0%, rgba(250,243,234,1) 33%, rgba(209,219,221,1) 92%) !important;">

  <div class="flex flex-col items-center justify-center text-center px-4">
    <!-- Título de error -->
    <br>
    <br>
    <h1 class="text-6xl font-bold text-gray-800 mb-4">404</h1>
    <p class="text-xl text-gray-600 mb-2">Página no encontrada</p>

    <!-- Descripción adicional -->
    <p class="text-lg text-gray-500 mb-8">Lo sentimos, la página que estás buscando no existe o ha sido movida.</p>

    <!-- Imagen de error (opcional) -->
    <div class="flex justify-center items-center mb-8">
      <img src="assets/img/404-error.webp" alt="Error 404" class="w-64 h-64">
    </div>

    <!-- Botón para regresar a la página de inicio -->
    <ion-button expand="block" class="w-[80%]" (click)="goToLogin()">Volver al Inicio</ion-button>
  </div>

</ion-content>