<ion-toolbar class="transparent-navbar">

  <ion-buttons class="evenly-spaced-buttons" slot="start">

    <ion-button [routerLink]="['/today']">
      <ion-icon slot="icon-only" name="cafe-sharp"></ion-icon>
    </ion-button>

    <ion-button [routerLink]="['/our-list']">
      <ion-icon slot="icon-only" name="heart-sharp"></ion-icon>
    </ion-button>

    <ion-button [routerLink]="['/log']">
      <ion-icon slot="icon-only" name="library-sharp"></ion-icon>
    </ion-button>

    <ion-button [routerLink]="['/profile']">
      <ion-icon slot="icon-only" name="person-sharp"></ion-icon>
    </ion-button>

  </ion-buttons>

</ion-toolbar>

