<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons (click)="goToAdminTask()" slot="start">
      <ion-icon name="chevron-back-sharp"></ion-icon>
      <ion-button>Administration</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="viewTask-header">
    <h1>Task Add</h1>
  </div>

  <form #taskForm="ngForm">

    <ion-item class="input-item">
      <ion-label position="stacked">Title</ion-label>
      <ion-input type="text" name="title" readonly fill="outline" placeholder="Title"
      ></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-label position="stacked">Type</ion-label>
      <ion-input type="text" name="type" readonly fill="outline" placeholder="Type"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-label position="stacked">Date Added</ion-label>
      <ion-input type="text" name="dateAdded" readonly fill="outline" placeholder="Date Added"
      ></ion-input>
    </ion-item>

    <ion-button shape="round" expand="full" class="edit-button">Summit</ion-button>
  </form>
</ion-content>