<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons (click)="goToProfile()" slot="start">
      <ion-icon name="chevron-back-sharp"></ion-icon>
      <ion-button>Profile</ion-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-list-header>
    <ion-label>About You</ion-label>
  </ion-list-header>

  <ion-list lines="inset" [inset]="true">

    <ion-item (click)="goToYourInfo()" [button]="true">
      <ion-label>Your info</ion-label>
    </ion-item>

    <ion-item [button]="true">
      <ion-label>Pairing</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Choose your plant</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Tell a friend about [beLoved]</ion-label>
    </ion-item>

  </ion-list>

  <ion-list-header>
    <ion-label>Notifications</ion-label>
  </ion-list-header>

  <ion-list lines="inset" [inset]="true">

    <ion-item>
      <ion-toggle justify="space-between">Partner responses</ion-toggle>
    </ion-item>

    <ion-item>
      <ion-toggle justify="space-between">Reminsders</ion-toggle>
    </ion-item>

    <ion-item>
      <ion-toggle justify="space-between">Product updates</ion-toggle>
    </ion-item>

  </ion-list>

  <ion-list-header>
    <ion-label>Subscription</ion-label>
  </ion-list-header>

  <ion-list lines="inset" [inset]="true">

    <ion-item [button]="true">
      <ion-label>Try premiun</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Restore purchase</ion-label>
    </ion-item>

  </ion-list>

  <ion-list-header>
    <ion-label>Support</ion-label>
  </ion-list-header>

  <ion-list lines="inset" [inset]="true">

    <ion-item>
      <ion-label>Send feedback</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Contact support</ion-label>
    </ion-item>

  </ion-list>

  <ion-list-header>
    <ion-label>Legal</ion-label>
  </ion-list-header>

  <ion-list lines="inset" [inset]="true">

    <ion-item>
      <ion-label>Terms of service</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Privacy poolicy</ion-label>
    </ion-item>

  </ion-list>

  <ion-list-header>
    <ion-label>Other</ion-label>
  </ion-list-header>

  <ion-list lines="inset" [inset]="true">

    <ion-item [button]="true">
      <ion-label>Delete account</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Log out</ion-label>
    </ion-item>

  </ion-list>

</ion-content>