<ion-content class="ion-padding">
  <!-- Page title -->
  <div class="profile-header">
    <h1>Profile</h1>
    <ion-button (click)="goToSettings()" fill="clear" class="settings-btn">
      <ion-icon name="settings-sharp"></ion-icon>
    </ion-button>
  </div>

  <!-- Container for profile photos and usernames -->
  <div class="profile-container">
    <div class="profile-avatars">
      <!-- First profile photo -->
      <div class="profile-photo-container">
        <ion-avatar class="profile-avatar">
          <img src="assets/img/profile-pic.png" alt="Profile Picture 1" />
        </ion-avatar>
        <ion-button shape="round" fill="outline" class="change-photo-btn">
          <ion-icon slot="icon-only" name="pencil-sharp"></ion-icon>
        </ion-button>
        <ion-label class="profile-name">You</ion-label>
      </div>

      <!-- Separator symbol -->
      <div class="profile-separator">
        <ion-label>&</ion-label>
      </div>

      <!-- Second profile photo -->
      <div class="profile-photo-container">
        <ion-avatar class="profile-avatar">
          <img src="assets/img/profile-pic.png" alt="Profile Picture 2" />
        </ion-avatar>
        <ion-label class="profile-name">Your Partner</ion-label>
      </div>
    </div>
    <!-- Centered text -->
    <ion-label class="profile-center-text">Growing together for 84 days</ion-label>
  </div>

  <!-- Separator line -->
  <div class="separator"></div>

  <!-- Activity buttons -->
  <div class="activities-container">
    <div class="activity-item">
      <ion-button (click)="showInfo('florecer', '#64B5F6')" shape="round" class="activity-btn-florecer">
        <ion-icon name="water-sharp"></ion-icon>
      </ion-button>
      <ion-label class="activity-text">Bloom</ion-label>
      <ion-label class="activity-number">18</ion-label>
    </div>
    <div class="activity-item">
      <ion-button (click)="showInfo('reflejo', '#FFB74D')" shape="round" class="activity-btn-reflejo">
        <ion-icon name="sunny-sharp"></ion-icon>
      </ion-button>
      <ion-label class="activity-text">Reflection</ion-label>
      <ion-label class="activity-number">12</ion-label>
    </div>
    <div class="activity-item">
      <ion-button (click)="showInfo('futuro', '#81C784')" shape="round" class="activity-btn-futuro">
        <ion-icon name="leaf-sharp"></ion-icon>
      </ion-button>
      <ion-label class="activity-text">Future</ion-label>
      <ion-label class="activity-number">15</ion-label>
    </div>
    <div class="activity-item">
      <ion-button (click)="showInfo('raices', '#A1887F')" shape="round" class="activity-btn-raices">
        <ion-icon name="rose-sharp"></ion-icon>
      </ion-button>
      <ion-label class="activity-text">Roots</ion-label>
      <ion-label class="activity-number">10</ion-label>
    </div>
  </div>

  <div class="activities-text">
    <ion-label>Completed activities</ion-label>
  </div>

  <!-- Information cards -->
  <div *ngIf="selectedActivity" class="overlay" (click)="hideInfo()">
    <div class="activity-info" (click)="$event.stopPropagation()">
      <div class="activity-header" [ngStyle]="{'background-color': selectedColor}">
        <ion-button fill="clear" class="close-btn" (click)="hideInfo()">
          <ion-icon name="close-sharp"></ion-icon>
        </ion-button>
      </div>
      <br>
      <br>
      <br>
      <div class="activity-circle" [ngStyle]="{'background-color': selectedColor}"></div>
      <ion-label class="activity-title">{{ selectedTitle }}</ion-label>
      <br>
      <br>
      <ion-label class="activity-description">
        {{ selectedDescription }}
      </ion-label>
    </div>
  </div>

</ion-content>

<ion-footer>
  <app-navbar></app-navbar>
</ion-footer>