.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.profile-header h1 {
    font-size: 42px;
    font-weight: bold;
    margin: 0;
    margin-top: 20px;
}

.settings-btn {
    --background: transparent;
    --color: #000000;
    margin-right: -10px;
    margin-top: -50px;
}

.settings-btn ion-icon {
    font-size: 36px;
}

.profile-container {
    text-align: center;
    margin-top: 30px;
}

.profile-avatars {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}

.profile-photo-container {
    position: relative;
    text-align: center;
}

.profile-avatar {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.change-photo-btn {
    position: absolute;
    bottom: 25px;
    right: 0;
    --background: #ffffff;
    --color: #000000;
    --box-shadow: none;
}

.profile-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 16px;
}

.profile-separator ion-label {
    font-size: 24px;
    font-weight: 500;
    color: #000;
}

.profile-center-text {
    font-size: 16px;
    color: #666;
    margin-top: 25px;
    display: block;
}

.separator {
    width: 90%;
    height: 2px;
    background-color: #ddd;
    margin: 30px auto;
}

.activities-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.activity-item {
    text-align: center;
}

.activity-btn-florecer,
.activity-btn-reflejo,
.activity-btn-futuro,
.activity-btn-raices {
    width: 60px;
    /* Ancho del botón */
    height: 60px;
    /* Alto del botón */
    display: flex;
    align-items: center;
    justify-content: center;
    --background: #ffffff;
    --color: #ffffff;
    margin-bottom: 8px;
}

.activity-btn-florecer {
    --background: #64B5F6;
}

.activity-btn-reflejo {
    --background: #FFB74D;
}

.activity-btn-futuro {
    --background: #81C784;
}

.activity-btn-raices {
    --background: #A1887F;
}

.activity-btn-florecer ion-icon,
.activity-btn-reflejo ion-icon,
.activity-btn-futuro ion-icon,
.activity-btn-raices ion-icon {
    font-size: 32px;
    /* Tamaño del ícono */
    line-height: 1;
    width: 40px;
    /* Ajusta el ancho del ícono */
    height: 40px;
    /* Ajusta el alto del ícono */
}

.activity-number {
    font-size: 18px;
    display: block;
}

.activity-text {
    font-size: 14px;
    font-weight: 550;
    color: #333;
}

.activities-text {
    text-align: center;
    margin-top: 20px;
}

.activities-text ion-label {
    font-size: 14px;
    color: #333;
}

.activity-info {
    padding: 16px;
    width: 90%;
    /* Ancho aumentado para la tarjeta */
    max-width: 500px;
    /* Aumento del tamaño máximo si es necesario */
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    /* Cambiado a izquierda para alinear texto */
    position: relative;
    background-color: #fff;
}

.activity-header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    background-color: inherit;
    /* Hereda el color de fondo de .activity-info */
    position: absolute;
    /* Cambiado a absoluto para que ocupe toda la parte superior */
    top: 0;
    left: 0;
    right: 0;
    padding: 16px;
    /* Ajusta el padding si es necesario */
}

.activity-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: inherit;
    /* Hereda el color de fondo de .activity-info */
    border: 8px solid #ffffff;
    /* Borde blanco alrededor del círculo */
    position: absolute;
    top: -30px;
    /* Ajusta esta propiedad para que el círculo sobresalga del header */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    /* Asegúrate de que el círculo esté por encima del header y del contenido */
}

.activity-title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
    /* Ajusta según sea necesario */
    margin-left: 85px;
    color: #333;
}

.activity-description {
    font-size: 16px;
    color: #666;
    text-align: left;
    /* Alinear texto a la izquierda */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-btn {
    position: absolute;
    top: -10px;
    right: -15px;
    --background: transparent;
    --color: #ffffff;
}

.close-btn ion-icon {
    font-size: 24px;
}

.activities-text {
    text-align: center;
    margin-top: 20px;
}

.activities-text ion-label {
    font-size: 12px;
    color: #333;
}