<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons (click)="goToAdministration()" slot="start">
      <ion-icon name="chevron-back-sharp"></ion-icon>
      <ion-button>Administration</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="users-header justify-center align-top">
    <h1>All Users</h1>
  </div>

  <ion-icon class="add-user" name="add-sharp" (click)="goToAddUser()"></ion-icon>

  <ion-list>
    <ion-item>
      <ion-label>
        <p>User: Kelvin A. Moreno</p>
        <p>Email: kel.moreno&#64;duocuc.cl</p>
        <p>Role: Administrator</p>
        <p>Date Joined: 1 September, 2023</p>
      </ion-label>
      <ion-icon slot="end" name="arrow-redo-sharp" (click)="goToEditUser()"></ion-icon>    
    </ion-item>

    <ion-item>
      <ion-label>
        <p>User: Benjamin Hidalgp</p>
        <p>Email: be.hidalgog&#64;duocuc.cl</p>
        <p>Role: User</p>
        <p>Date Joined: 1 September, 2024</p>
      </ion-label>
      <ion-icon slot="end" name="arrow-redo-sharp" (click)="goToEditUser()"></ion-icon>
    </ion-item>

    <!-- Add more user items here -->

  </ion-list>
</ion-content>