<ion-content [fullscreen]="true" class="flex relative items-center h-screen justify-center"
  style="--background: linear-gradient(0deg, rgba(0, 137, 123, 1) 0%, rgba(250,243,234,1) 33%, rgb(89, 158, 151) 73%, rgba(0, 137, 123, 1) 92%) !important;">

  <!-- Image or Logo -->
  <div class="flex justify-center items-center">
    <img src="assets/img/logo.png" alt="Logo"
      class="mb-4 w-[298px] h-auto mt-[100px] max-w-full max-h-[400px] object-contain">
  </div>

  <!-- Main Container Centered -->
  <div
    class="flex flex-col items-center mt-[43px] mx-[10%] justify-center px-6 py-8 bg-white rounded-[40px] shadow-md space-y-4">

    <!-- Forgot Password Form -->
    <div class="flex flex-col items-center w-full">

      <!-- Email Field -->
      <div class="w-full mb-4">
        <ion-input type="email" label="Email" labelPlacement="floating" [(ngModel)]="Email" placeholder="Enter Email"
          class="w-full bg-white placeholder-purple-500 text-gray-600" required
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" #emailInput="ngModel"></ion-input>
        <!-- Error message for email -->
        <div *ngIf="emailInput.invalid && emailInput.touched" class="text-red-500 text-sm mt-1">
          <span *ngIf="emailInput.errors?.['required']">Email is required.</span>
          <span *ngIf="emailInput.errors?.['pattern']">Email format is invalid.</span>
        </div>
      </div>

    </div>
  </div>

  <div class="flex flex-col items-center w-full mt-4">
    <!-- Submit Button -->
    <button class="bg-blue-600 text-white rounded-full w-[65%] h-[58px] text-lg" (click)="submitEmail()">Reset
      Password</button>

    <!-- Link to Login -->
    <button class="text-blue-600 text-sm mt-1" (click)="goToLogin()">Remembered your password? Log in</button>
  </div>
</ion-content>