<ion-content [fullscreen]="true" class="flex relative items-center h-screen justify-center"
  style="
  --background: linear-gradient(0deg, rgba(121,183,172,1) 0%, rgba(250,243,234,1) 33%, rgba(209,219,221,1) 92%) !important;">

  <!-- Image or Logo -->
  <div class="flex justify-center items-center">
    <img src="assets/img/logo.png" alt="Logo" class="mb-4 w-[297px] h-[156px] mt-[181px]">
  </div>

  <!-- Main Container Centered -->
  <div
    class="flex-row flex items-center mt-[43px] mx-[10%] justify-center px-6 bg-white rounded-[40px] shadow-md space-y-4">

    <!-- Single Input Form -->
    <ion-input label="Your Input" labelPlacement="floating" class="w-full" placeholder="Enter something" required
      minlength="4">
    </ion-input>
  </div>

  <div class="flex flex-col items-center w-full">
    <ion-button shape="round" expand="full" class="mt-4 w-[65%] h-[58px]">Submit</ion-button>
  </div>
</ion-content>