.input-item {
    --background: #f9f9f9;
    /* Fondo suave para el input */
    --padding-start: 12px;
    /* Padding dentro del input */
    --padding-end: 12px;
    --highlight-height: 0px;
    /* Elimina la línea inferior */
    --min-height: 48px;
    /* Reduce la altura del input */
    border-radius: 12px;
    /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
}

ion-input {
    font-size: 16px;
    /* Tamaño de la fuente más pequeño */
    color: #333;
    /* Color del texto */
    max-height: 20px;
}

ion-label {
    color: #888;
    /* Color más tenue para el label */
    font-size: 14px;
    /* Tamaño de la fuente del label */
}

.backToLogin {
    font-size: 14px;
    margin-left: 50px;
}