<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons (click)="goToPairing()" slot="start">
      <ion-icon name="chevron-back-sharp"></ion-icon>
      <ion-button>Settings</ion-button>
    </ion-buttons>
    <ion-title>Pairing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="ion-padding">
    <p class="warning-message">
      This action will <i>un-pair</i> you from your partner. Are you sure you want to proceed?
    </p>
    <ion-button color="danger" expand="block">
      un-pair
    </ion-button>
  </div>
</ion-content>