.document-title {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.effective-date {
    text-align: left;
    margin-left: 15px;
    font-size: 1em;
    margin-bottom: 20px;
    color: #424242;
}

.document-section {
    margin-left: 15px;
    margin-bottom: 20px;
}

.document-heading {
    font-size: 18px;
    margin-bottom: -5px;
    color: #444;
}

.document-section p {
    font-size: 1em;
    line-height: 1.6;
    color: #555;
}
