<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons (click)="goToOurList()" slot="start">
      <ion-icon name="chevron-back-sharp"></ion-icon>
      <ion-button>Our-list</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="addTask-header">
    <h1>Create your own</h1>
  </div>

  <form #taskForm="ngForm">
    <ion-item class="input-item">
      <ion-label position="stacked">Title</ion-label>
      <ion-input type="text" name="title" required fill="outline" placeholder="Enter text"></ion-input>
    </ion-item>

    <ion-item class="input-item details-input">
      <ion-label position="stacked">Details</ion-label>
      <ion-input type="text" name="description" fill="outline" placeholder="Enter text"></ion-input>
    </ion-item>

    <ion-button shape="round" expand="full" type="submit" class="submit-button">Add</ion-button>
  </form>
</ion-content>