<ion-content [fullscreen]="true" class="flex relative items-center h-screen justify-center"
  style="
  --background: linear-gradient(0deg, rgba(121,183,172,1) 0%, rgba(250,243,234,1) 33%, rgba(198,225,206,1) 73%, rgba(209,219,221,1) 92%) !important;">

  <!-- Imagen o Logo -->
  <div class="flex justify-center items-center">
    <img src="assets/img/logo.png" alt="Logo" class="mb-4 w-[297px] h-[156px] mt-[181px]">
  </div>

  <!-- Contenedor principal centrado -->
  <div
    class="flex-row flex items-center mt-[43px] mx-[10%] justify-center px-6 py-8 bg-white rounded-[40px] shadow-md space-y-4">

    <!-- Formulario de Registro -->
    <div class="flex flex-col items-center w-full">
      <ion-item lines="none" class="w-full mb-4">
        <ion-input label="Usuario" labelPlacement="floating" class="w-full userlb" placeholder="Ingrese Usuario"
          [(ngModel)]="User" required minlength="4" #userInput="ngModel">
        </ion-input>
      </ion-item>

      <!-- Mensaje de error para el email -->
      <div *ngIf="userInput.invalid && userInput.touched" class="text-red-500 text-sm">
        <span *ngIf="userInput.errors?.['required']">El usuario es requerido.</span>
        <span *ngIf="userInput.errors?.['minlength']">El usuario debe tener al menos 4 caracteres.</span>
      </div>

      <div class="flex flex-col items-center w-full">
        <ion-item lines="none" class="w-full mb-4">
          <ion-input label="Email" labelPlacement="floating" class="w-full userlb" placeholder="Ingrese Email"
            [(ngModel)]="Email" required #userInput="ngModel">
          </ion-input>
        </ion-item>
  
        <!-- Mensaje de error para el email -->
        <div *ngIf="userInput.invalid && userInput.touched" class="text-red-500 text-sm">
          <span *ngIf="userInput.errors?.['required']">El usuario es requerido.</span>
        </div>

      <ion-item lines="none" class="w-full mb-4">
        <ion-input label="Contraseña" labelPlacement="floating" class="w-full pwlb" placeholder="Ingrese Contraseña"
          [(ngModel)]="Password" required minlength="8" type="password" #passwordInput="ngModel">
        </ion-input>
      </ion-item>

      <!-- Mensaje de error para la contraseña -->
      <div *ngIf="passwordInput.invalid && passwordInput.touched" class="text-red-500 text-sm">
        <span *ngIf="passwordInput.errors?.['required']">La contraseña es requerida.</span>
        <span *ngIf="passwordInput.errors?.['minlength']">La contraseña debe tener al menos 8 caracteres.</span>
      </div>

      <ion-item lines="none" class="w-full mb-4">
        <ion-input label="Confirmar Contraseña" labelPlacement="floating" class="w-full pwlb"
          placeholder="Confirme Contraseña" [(ngModel)]="ConfirmPassword" required minlength="8" type="password"
          #confirmPasswordInput="ngModel">
        </ion-input>
      </ion-item>

      <!-- Mensaje de error para confirmar contraseña -->
      <div *ngIf="confirmPasswordInput.invalid && confirmPasswordInput.touched" class="text-red-500 text-sm">
        <span *ngIf="confirmPasswordInput.errors?.['required']">La confirmación de contraseña es requerida.</span>
        <span *ngIf="confirmPasswordInput.errors?.['minlength']">La confirmación de contraseña debe tener al menos 8
          caracteres.</span>
      </div>
      <!-- Mensaje de error si las contraseñas no coinciden -->
      <div *ngIf="Password !== ConfirmPassword && confirmPasswordInput.touched" class="text-red-500 text-sm">
        Las contraseñas no coinciden.
      </div>
    </div>
  </div>

  <div class="flex flex-col items-center w-full botonwaf">
    <!-- Botón de Registro -->
    <ion-button shape="round" expand="full" (click)="register()" class="mt-4 w-[65%] h-[58px]"
      [disabled]="userInput.invalid || passwordInput.invalid || confirmPasswordInput.invalid || Password !== ConfirmPassword">Registrar</ion-button>

    <!-- Link para volver al Login -->
    <ion-button fill="clear" (click)="goToLogin()" class="text-sm mt-2">¿Ya tienes una cuenta? Inicia
      sesión</ion-button>
  </div>
</ion-content>