<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons (click)="goToSettings()" slot="start">
      <ion-icon name="chevron-back-sharp"></ion-icon>
      <ion-button>Settings</ion-button>
    </ion-buttons>
    <ion-title>Pairing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list lines="inset">
    <ion-item>
      <ion-label>Status: Non-paired</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Partners name: ...</ion-label>
    </ion-item>
    <ion-item [button]="true">
      <ion-label (click)="goToUnPair()">Unpair with partner</ion-label>
    </ion-item>
  </ion-list>
</ion-content>