.rootAct-card {
    position: relative;
    border-left: 8px solid #A1887F; 
    border-radius: 8px;
    background-color: rgb(253, 253, 253);
  }

.bloomAct-card {
position: relative;
border-left: 8px solid #64B5F6; 

}

.futureAct-card {
position: relative;
border-left: 8px solid #81C784;
border-radius: 8px; 
}

.innerAct-card {
position: relative;
border-left: 8px solid #FFB74D; 
border-radius: 8px; 
}
