<ion-header class="ion-no-border">
  <ion-toolbar class="header-bloom">
    <ion-buttons (click)="goToLog()" slot="start">
      <ion-icon name="chevron-back-sharp"></ion-icon>
      <ion-button class="header-bloom">Log</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="reflectionAct-card">
    <ion-card-header>
      <ion-card-subtitle>Reflection</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      How confident are you?
    </ion-card-content>
  </ion-card>

  <ion-toolbar class="input-toolbar">
    <ion-input class="chat-input" placeholder="Add your response..."></ion-input>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="send-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>