<ion-content>
  <!-- Contenido de la página -->
</ion-content>

<ion-footer>

  <ion-toolbar class="transparent-navbar">

    <ion-buttons class="evenly-spaced-buttons" slot="start">

      <ion-button>
        <ion-icon slot="icon-only" name="cafe-sharp"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon slot="icon-only" name="heart-sharp"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon slot="icon-only" name="library-sharp"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon slot="icon-only" name="person-sharp"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-footer>