<ion-content [fullscreen]="true">
  <div class="log-header justify-center align-top">
    <h1>Our List</h1>
    <ion-icon (click)="goToAdd()" name="add-outline" size="large" class="align-middle mr-2 add"></ion-icon>
  </div>

  <div class="button-group flex justify-center">
    <ion-button class="btn-todo" shape="round" fill="solid">To do</ion-button>
    <ion-button (click)="goToComplete()" class="btn-complete" shape="round" fill="outline">Completed</ion-button>
  </div>

  <ion-card (click)="goToTask()" class="ourList-card">
    <ion-card-content>
      <ion-icon class="iconoTask" name="bookmark"></ion-icon>
      Start making our list
      <ion-icon class="arrowOurList" name="caret-forward-sharp"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <app-navbar></app-navbar>
</ion-footer>